{{ attach_library('byu-hero-component-js') }}
{{ attach_library('byu-hero-component-css') }}

<byu-hero-banner id="hero" image-source="dark-image.jpg" class="side-image">
  <span slot="headline">{{content.headline}}</span>
  <span slot="intro-text">{{content.intro}}</span>
  <a slot="read-more" href="{{content.read_more_href}}">{{content.read_more_text}}</a>
</byu-hero-banner>
